@model DuAnWebsite.Models.ACCOUNT
@{
    ViewBag.Title = "Register";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="CodedThemes">
    <meta name="keywords" content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="CodedThemes">
    <!-- Favicon icon -->
    <link rel="icon" href="~/assets/admin/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="~/assets/admin/css/bootstrap/css/bootstrap.min.css">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="~/assets/admin/icon/themify-icons/themify-icons.css">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="~/assets/admin/icon/icofont/css/icofont.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="~/assets/admin/css/style.css">
</head>
<body class="fix-menu">
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <section class="login p-fixed d-flex text-center bg-primary common-img-bg">
        <!-- Container-fluid starts -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Authentication card start -->
                    <div class="login-card card-block auth-body mr-auto ml-auto">
                        <form action="~/admin/login/login" method="post" class="md-float-material">
                            <div class="auth-box">
                                <div class="row m-b-20">
                                    <div class="col-md-12">
                                        <h3 class="text-left text-center txt-primary">Register</h3>
                                    </div>
                                </div>
                                <hr />
                                <div class="input-group">
                                    @Html.TextBoxFor(Model => Model.FIRSTNAME, new { @id = "Firstname", @type = "firstname", @class = "form-control", @placeholder = "Firstname" })
                                    <span class="md-line"></span>
                                </div><div class="input-group">
                                    @Html.TextBoxFor(Model => Model.LASTNAME, new { @id = "Lastname", @type = "Lastname", @class = "form-control", @placeholder = "Lastname" })
                                    <span class="md-line"></span>
                                </div>
                                <div class="input-group">
                                    @Html.TextBoxFor(Model => Model.USERNAME, new { @id = "user", @type = "text", @class = "form-control", @placeholder = "UserName" })
                                    <span class="md-line"></span>
                                </div>
                                <div class="input-group">
                                    @Html.TextBoxFor(Model => Model.passwordd, new { @id = "password", @type = "password", @class = "form-control", @placeholder = "Password" })
                                    <span class="md-line"></span>
                                </div>
                                <div class="input-group">
                                    <input id="prepasswordregister" class="form-control" name="prepasswordregister" type="password" placeholder="Repeat password">
                                </div>
                                <div class="input-group">
                                    @Html.TextBoxFor(Model => Model.Email, new { @id = "Email", @type = "Email", @class = "form-control", @placeholder = "Email" })
                                    <span class="md-line"></span>
                                </div>
                                <div class="input-group">
                                    @Html.TextBoxFor(Model => Model.NGAYSINH, new { @id = "BirthDay", @type = "Ngaysinh", @class = "form-control", @placeholder = "BirthDay" })
                                    <span class="md-line"></span>
                                </div>
                                <div class="row m-t-30">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Submit</button>
                                    </div>
                                </div>

                                    <div class="col-lg-2" style="padding: 0px">
                                        <a href="~/Areas/Admin/Views/Login/Login.cshtml">Sign In?</a>
                                    </div>
                            </div>
                        </form>
                        <!-- end of form -->
                    </div>
                    <!-- Authentication card end -->
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container-fluid -->
    </section>
    <!-- Modal register -->
    <div class="modal fade" id="myModal3" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <form name="submitregister">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Nhập mã xác nhận</h4>
                        <button type="button" id="btnclosexregister" class="close" data-dismiss="modal" style="">&times;</button>
                    </div>
                    <div class="modal-body">
                        <input id="keyword" name="keywordregister" autofocus autocomplete="on" class="form-control" type="text" />
                    </div>
                    <div class="modal-footer">
                        <button id="btnsubmitregister" class="btn btn-outline-success">
                            Xác nhận
                        </button>
                        <button type="button" id="btnsendagainregister" class="btn btn-outline-primary">
                            Gửi lại mã

                        </button>
                        <button type="button" id="btncloseregister" class="btn btn-outline-danger" data-dismiss="modal">Đóng</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->
    <!--[if lt IE 9]>
    <div class="ie-warning">
        <h1>Warning!!</h1>
        <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
        <div class="iew-container">
            <ul class="iew-download">
                <li>
                    <a href="http://www.google.com/chrome/">
                        <img src="~/assets/admin/images/browser/chrome.png" alt="Chrome">
                        <div>Chrome</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.mozilla.org/en-US/firefox/new/">
                        <img src="~/assets/admin/images/browser/firefox.png" alt="Firefox">
                        <div>Firefox</div>
                    </a>
                </li>
                <li>
                    <a href="http://www.opera.com">
                        <img src="~/assets/admin/images/browser/opera.png" alt="Opera">
                        <div>Opera</div>
                    </a>
                </li>
                <li>
                    <a href="https://www.apple.com/safari/">
                        <img src="~/assets/admin/images/browser/safari.png" alt="Safari">
                        <div>Safari</div>
                    </a>
                </li>
                <li>
                    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                        <img src="~/assets/admin/images/browser/ie.png" alt="">
                        <div>IE (9 & above)</div>
                    </a>
                </li>
            </ul>
        </div>
        <p>Sorry for the inconvenience!</p>
    </div>
    <![endif]-->
    <!-- Warning Section Ends -->
    <!-- Required Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="~/assets/admin/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/assets/admin/js/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/assets/admin/js/popper.js/popper.min.js"></script>
    <script type="text/javascript" src="~/assets/admin/js/bootstrap/js/bootstrap.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="~/assets/admin/js/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="~/assets/admin/js/modernizr/modernizr.js"></script>
    <script type="text/javascript" src="~/assets/admin/js/modernizr/css-scrollbars.js"></script>
    <script type="text/javascript" src="~/assets/admin/js/common-pages.js"></script>
    <script>
        $(function () {
            function re() {
                let acc = new Object();
                acc.username = $('#user').val();
                acc.password = $('#password').val();
                let prepassword = $('#prepasswordregister').val();
                acc.email = $('#emailregister').val();
                acc.firstname = $('#Firstname').val();
                acc.lastname = $('#Lastname').val();
                $.ajax({
                    url: "/Admin/Login/Register",
                    data: JSON.stringify({ acc }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    type: "POST",
                    success: function (data) {
                        if (data == "-1")
                            alert('Đăng ký không thành công.');
                        else
                            if (data == "0")
                                alert('Tên tài khoản này đã được sử dụng.');

                            else
                                if (data == "2")
                                    alert('Email này đã được sử dụng.');
                                else
                                    $("#myModal3").modal({ backdrop: "static" });
                    },
                    error: function (data) {
                        alert('Lỗi chưa xác định.');
                    }
                })
            }
            /*Close modal khi đăng kí xác nhận gmail*/
            $('#btnclosexregister').click(function () {
                enable('#btnregister')
                clearRegister();
            })
            $('#btncloseregister').click(function () {
                enable('#btnregister')
                clearRegister();
            })
            /*Hàm xác nhận mã từ gmail khi đăng kí*/
            function submit(operation) {
                let code = "";
                let url = "";
                if (operation == "register") {
                    code = $('#keyword').val();
                    url += "ma-dang-ki";
                }
                else {
                    code = $('#keywordforget').val();
                    url += "ma-quen-mat-khau";
                }
                if (code == "")
                    alert('Bạn chưa nhập mã xác nhập.');
                else {
                    if (operation == 'register')
                        disable('#btnsubmitregister');
                    else {
                        disable('#btnsubmitforgetpass');
                    }

                    $.ajax({
                        url: url,
                        data: JSON.stringify({ code }),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        type: "POST",
                        success: function (data) {
                            console.log(data)
                            if (data == "0") {
                                alert('Mã xác nhận không chính xác.');
                            }
                            else {
                                if (operation == "register") {
                                    alert('Đăng kí thành công.');
                                }
                                else {
                                    alert('Mời bạn đổi mật khẩu mới.');
                                }
                            }
                            if (operation == 'register')
                                enable('#btnsubmitregister');
                            else {
                                enable('#btnsubmitforgetpass');
                            }
                        },
                        error: function (data) {
                            alert('Lỗi chưa xác định.');
                        }
                    })
                }
            }
        })
        /*Hàm gửi lại mã xác nhận*/
        function sendAgain() {
            disable('#btnsendagainregister');
            disable('#btnsendagainforgetpass');
            $.ajax({
                url: "/gui-lai-ma",
                data: JSON.stringify({}),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                type: "POST",
                success: function (data) {
                    console.log(data)
                    if (data == "0")
                        alert('Lỗi hệ thống không thể gửi mail.')
                    else
                        alert('Mời bạn check email để lấy mã xác nhận mới.Xin cảm ơn.')
                    enable('#btnsendagainregister');
                    enable('#btnsendagainforgetpass');

                },
                error: function (data) {
                    alert('Lỗi chưa xác định.')
                }
            })
        }
        $('#btnsendagainregister').click(sendAgain);
        //Xác nhận mã từ gmail khi đăng kí
        $("form[name='submitregister']").validate({
            rules: {
                keywordregister: {
                    required: true
                }
            },
            messages: {
                keywordregister: {
                    required: "Mã xác nhận không được để trống."
                }
            },
            submitHandler: function (form) {
                submit("register");
            }
        });
        //Bật modal cho quên mật khẩu
        //$('#btnfogetpass').click(function (e) {
        //    e.preventDefault();
        //    $("#myModal4").modal({ backdrop: "static" });
        //});
    </script>
</body>
</html>


